.vscode/
eos/app/test_app/test_app
eos/driver/.Module.symvers.cmd
eos/driver/.gaussian_blur_driver.ko.cmd
eos/driver/.gaussian_blur_driver.mod.cmd
eos/driver/.gaussian_blur_driver.mod.o.cmd
eos/driver/.gaussian_blur_driver.o.cmd
eos/driver/.modules.order.cmd
eos/driver/Module.symvers
eos/driver/gaussian_blur_driver.ko
eos/driver/gaussian_blur_driver.mod
eos/driver/gaussian_blur_driver.mod.c
eos/driver/gaussian_blur_driver.mod.o
eos/driver/gaussian_blur_driver.o
eos/driver/modules.order
eos/app/final_app/find_keypoints
eos/app/final_app/result.jpg
esl/spec/find_keypoints
eos/app/final_app/base_image.jpg
eos/app/final_app/start_image.jpg
eos/driver/result.jpg

fvh/uvm_project/
fvh/uvm_rand_project/
fvh/scripts/.Xil/
fvh/result_files/
fvh/*.txt

psds/tb/.Xil/
psds/tcl/.Xil/
psds/tcl/*.str
psds/project_folder/